<div class="homepage-container card">
			<h1>Welcome to FlexFeasts</h1>
			<p>Your one-stop-shop for health focused meals and fitness advice.</p>
      <p>Browse industry backed workout plans and fitness articles to get your rear into gear!</p>
			<p>Are you tired of the same old boring meal plans? Do you want to eat healthy but don't want to sacrifice taste?</p>
			<p>FlexFeasts has got you covered! We offer a range of meal plans that cater to your specific dietary needs and preferences.</p>
			<p>Whether you're looking to lose weight, build muscle or simply eat healthier, our meal plans are designed to help you achieve your goals while keeping your taste buds happy.</p>
      <p>Explore our community submitted meals geared towards your personal dietary preferences.</p>
			<p>Sign up now to submit your own meals a become part of the FlexFeast community!</p>
	</div>