<div class="sign-up-div row card">
  <div class="">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group mb-3">
        <label for="email-login" class="for-label">email:</label>
        <input class="form-input form-control" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="for-label">password:</label>
        <input class="form-input form-control" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group mb-3">
        <label for="name-signup" class="for-label">name:</label>
        <input class="form-input form-control" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="for-label">email:</label>
        <input class="form-input form-control" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="for-label">password:</label>
        <input class="form-input form-control" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
